@media  screen and (max-width:750px){
      .container-1{
        width: 100%;
      }
    .box-1 {
        height: 110px;
        width: 285px;        
        margin-left: 8px;
        display: flex;
        justify-content: space-evenly;  
    }
    .image-box .image img {
        margin-left: 25px;
    }
    .details{
        font-size: small;
        margin-left:-110%;
    }
    .box-1 .icon {
        margin-left: 11rem;
        margin-top: 20px;        
    }
    .box-2,.box-3,.box-4{
        height: 55px;
        width: 285px;        
        margin-left: 8px;
        display: flex;
        justify-content: space-evenly;
    }
    .box-5{
        height: 55px;
        width: 285px;        
        margin-left: 8px;
        display: flex;
        font-weight:bold;
    }
    .box-5 p{
        margin-left: 28%;
    }
}